# Dont ignore
!.gitkeep
# Ignore
**/.DS_Store
circuit diagram/**/*bak
*.sch-bak
*.kicad_pcb-bak
/kicad/**/*kicad-rescue.*
/kicad/**/*-cache
/kicad/**/*cache.lib
code/*/.pio/build
code/*/.pio
code/*/build
code/*/.vscode/.browse.c_cpp.db*
code/*/.vscode/c_cpp_properties.json
code/*/.vscode/launch.json
code/*/.vscode/ipch
