# Dont ignore
!.gitkeep

# Ignore
**/.DS_Store
circuit diagram/**/*bak
*.sch-bak
*.kicad_pcb-bak
/kicad/**/*kicad-rescue.*
/kicad/**/*-cache
/kicad/**/*cache.lib
/code/teensy-based/usb-teensy_LC_41-theMVP/schwurbler_mvp/.pio/build/project.checksum
code/SchwurblAir/.vscode/
/code/SchwurblAir/.pio
